<div class="panel panel-default">
<div class="panel-heading"> <strong class="">Login</strong>

</div>


<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>






    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">

                <%= f.label :login, class: "col-sm-3 control-label" %>

                <div class="col-sm-9">
                    <%= f.text_field :login, autofocus: true, class: "form-control",placeholder: "Login", required: "" %>

                </div>
            </div>
            <div class="form-group">

                <%= f.label :password, class: "col-sm-3 control-label" %>
                <div class="col-sm-9">

                    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"%>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label class="">


                            <% if devise_mapping.rememberable? -%>
                                <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                            <% end -%>


                    </div>
                </div>
            </div>
            <div class="form-group last">
                <div class="col-sm-offset-3 col-sm-9">
                    <%= f.submit "Log in", class: "btn btn-success btn-sm" %>
                    <button type="reset" class="btn btn-default btn-sm">Reset</button>
                </div>
            </div>
        <% end %>
    </div>
    <div class="panel-footer">Not Registered? </a>

    <%= render "devise/shared/links" %>

    </div>
</div>

